TICKTICK_CLIENT_ID=
TICKTICK_CLIENT_SECRET=
TICKTICK_ACCESS_TOKEN=
TICKTICK_REFRESH_TOKEN=
QUICK_NOTES_PROJECT_ID=
PROCESSED_PROJECT_ID=
EXCLUDED_PROJECTS=
SHOPPING_PROJECTS=Lidl,Tesco,Asian Supermarket
